<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <beans>
        <bean id="studentDao" class="com.alison.aopDemo.dao.StudentDaoImpl"></bean>

        <bean id="studentService" class="com.alison.aopDemo.service.StudentServiceImpl">
            <property name="stuDao" ref="studentDao"></property>
        </bean>
        <bean id="myBeforeAdvice" class="com.alison.advice.MyBeforAdvice"/>
        <aop:config>
            <aop:pointcut expression="execution(* com.alison.aopDemo.service.StudentServiceImpl.*(..))" id="myPointcut1"/>
            <aop:advisor advice-ref="myBeforeAdvice" pointcut-ref="myPointcut1"/>
        </aop:config>

    </beans>
</beans>