<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<!--    <property name="file_name" value="engine-server"/>-->
    <property name="file_path" value="logs"/>
    <property name="maxHistory" value="30"/>
    <springProperty name="file_name" source="spring.application.name"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%tid] [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%line - %msg%n</pattern>
            <!--            </layout>-->
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file_path}/${file_name}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}:%line- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <append>true</append>
    </appender>
    <appender name="strategy-decision" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file_path}/strategy-decision.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}:%line - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/strategy-decision-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <append>true</append>
    </appender>
    <!--记录器-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="jrx.anyest.engine.server.controller.EventStrategyController" level="debug" additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jrx.anyest.engine.server.service.EventStrategyEngineService" level="debug" additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jrx.anyest.engine.base.engine.StrategyEngine" level="debug" additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jrx.anyest.engine.base.strategy.StrategyRunner" level="debug" additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jrx.anyest.engine.base.model.strategy.node.stat.StatVisitStrategyNode" level="debug"
            additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jrx.anyest.engine.base.model.strategy.node.stat.StatVisitNodeConfig" level="debug"
            additivity="false">
        <appender-ref ref="strategy-decision"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
